ADDACRONIMS=True
ADDALIASES=True
ADDTYPOS=True
APPROXIMATENUMBERS=True
MAXLINES = 10000
MAXCOLUMNS = 1000
MAXHEADERS = 200
ENABLE_EXTERNAL_CONTEXT = False
LAMAPI_ROOT=http://<lamapi-ip>:8000/
LAMAPI_TOKEN=<lamapi_token>
ADDACRONIMSPERCENT=70
ADDALIASESPERCENT=50
ADDTYPOSPERCENT=30
APPROXIMATENUMBERSPERCENT=50